#header .logo,
.side-header-narrow-bar-logo {
	max-width: 170px
}

@media (min-width:1270px) {
	#header .logo {
		max-width: 250px
	}
}

@media (max-width:991px) {
	#header .logo {
		max-width: 110px
	}
}

@media (max-width:767px) {
	#header .logo {
		max-width: 110px
	}
}

#header.sticky-header .logo {
	max-width: 100px
}

@media (min-width:992px) {}

.page-top .page-title-wrap {
	line-height: 0
}

.page-top .page-title:not(.b-none):after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	border-bottom: 5px solid #e36159;
	bottom: -17px
}

body.single-product .page-top .breadcrumbs-wrap {
	padding-right: 55px
}

#login-form-popup {
	position: relative;
	width: 80%;
	max-width: 525px;
	margin-left: auto;
	margin-right: auto
}

#login-form-popup .featured-box {
	margin-bottom: 0;
	box-shadow: none;
	border: none;
	border-radius: 0
}

#login-form-popup .featured-box .box-content {
	padding: 45px 36px 30px;
	border: none
}

#login-form-popup .featured-box h2 {
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: .05em;
	font-weight: 600;
	line-height: 2
}

#login-form-popup .porto-social-login-section {
	margin-top: 20px
}

.porto-social-login-section {
	background: #f4f4f2;
	text-align: center;
	padding: 20px 20px 25px
}

.porto-social-login-section p {
	text-transform: uppercase;
	font-size: 12px;
	color: #1d2127;
	font-weight: 600;
	margin-bottom: 8px
}

#login-form-popup .col2-set {
	margin-left: -20px;
	margin-right: -20px
}

#login-form-popup .col-1,
#login-form-popup .col-2 {
	padding-left: 20px;
	padding-right: 20px
}

@media (min-width:992px) {
	#login-form-popup .col-1 {
		border-right: 1px solid #f5f6f6
	}
}

#login-form-popup .input-text {
	box-shadow: none;
	padding-top: 10px;
	padding-bottom: 10px;
	border-color: #ddd;
	border-radius: 2px;
	line-height: 1.5 !important
}

#login-form-popup .form-row {
	margin-bottom: 20px
}

#login-form-popup .woocommerce-privacy-policy-text {
	display: none
}

#login-form-popup .button {
	border-radius: 2px;
	padding: 18px 24px;
	text-shadow: none;
	font-family: Open Sans, sans-serif;
	font-size: 12px;
	letter-spacing: -0.025em
}

#login-form-popup label.inline {
	margin-top: 15px;
	float: right;
	position: relative;
	cursor: pointer;
	line-height: 1.5
}

#login-form-popup label.inline input[type=checkbox] {
	opacity: 0;
	margin-right: 8px;
	margin-top: 0;
	margin-bottom: 0
}

#login-form-popup label.inline span:before {
	content: '';
	position: absolute;
	border: 1px solid #ddd;
	border-radius: 1px;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	text-align: center;
	line-height: 15px;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 9px;
	color: #aaa
}

#login-form-popup label.inline input[type=checkbox]:checked+span:before {
	content: '\f00c'
}

#login-form-popup .social-button i {
	font-size: 16px;
	margin-right: 8px
}

#login-form-popup p.status {
	color: #1d2127
}

.porto-social-login-section .google-plus {
	background: #dd4e31
}

.porto-social-login-section .facebook {
	background: #3a589d
}

.porto-social-login-section .twitter {
	background: #1aa9e1
}

.featured-box .porto-social-login-section i {
	color: #fff
}

.porto-social-login-section .social-button:hover {
	background: var(--bs-primary)
}

html.panel-opened body>.mfp-bg {
	z-index: 9042
}

html.panel-opened body>.mfp-wrap {
	z-index: 9043
}

#header .header-main .container .header-center {
	padding: 10px 10px
}

.resp-tabs-list li:last-child {
	margin-right: 0;
	background-color: #d13537;
	color: black
}

#header .header-main .header-contact {
	background-color: white;
	padding-top: 1px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-right: -12px;
	padding-right: 5px;
	border-radius: 4px
}

.main-menu-wrap {
	background-color: #d13537;
	padding: 0
}

#header .header-main {
	background-image: url(/Sources/img/header-background.png);
	background-size: cover
}

.page-top h2 {
	display: none;
	#header .header-top {
		background-color: #f43838;
		position: relative;
		top: 0;
		left: 0;
		border-style: none
	}

	.page-wrapper .header-wrapper #header .header-top .container .header-left .share-links .share-facebook {
		color: #ffffff !important
	}

	.header-top .header-right .welcome-msg {
		color: #ffffff
	}

	#menu-top-navigation .menu-item a {
		color: #ffffff !important
	}

	#menu-main-menu .menu-custom-block a:nth-child(1) {
		color: #ffffff
	}

	#menu-main-menu .menu-custom-block a:nth-child(2) {
		color: #ffffff
	}

	.breadcrumb span:nth-child(2) span {
		color: #ffffff
	}

	.breadcrumb a span {
		color: #ffffff
	}

	.entry-summary .cart .single_add_to_cart_button {
		background-color: rgb(209, 53, 55);
		border-width: 0
	}

	.entry-summary .price .woocommerce-Price-amount {
		color: rgb(209, 53, 55)
	}

	.product-categories .current-cat a {
		color: rgb(209, 53, 55) !important
	}

	.product-categories>.current>a {
		color: rgb(209, 53, 55) !important
	}

	.product-thumbnails .product-thumbs-slider .owl-stage-outer .owl-stage .owl-item .img-thumbnail {
		border-color: #e71212 !important
	}

	.sidebar div input[type=submit] {
		background-color: rgb(209, 53, 55);
		border-style: none
	}

	#main .porto-related-products {
		background-color: rgba(0, 0, 0, 0)
	}

	.footer-main .footer-ribbon {
		background-color: #cc2200 !important
	}

	.footer-main div input[type=submit] {
		background-color: rgb(204, 34, 0);
		border-style: none
	}

	.products .product .add_to_cart_button:hover {
		background-color: rgb(209, 53, 55) !important;
		color: #ffffff !important;
		border-style: none
	}

	.product-image .viewcart {
		color: #e71212
	}

	.menu-item a:hover {
		background-color: #180101 !important
	}

	.menu-center .menu-item a:hover {
		background-color: rgb(24, 1, 1)
	}

	.menu-center .menu-item a {
		color: #ffffff !important
	}

	.menu-center .menu-item .current {
		background-color: #001019 !important
	}

	.menu-center .menu-custom-block a {
		color: #ffffff !important
	}

	.cart-popup .buttons a {
		background-color: rgb(209, 53, 55)
	}

	.products .product .add_to_cart_read_more:hover {
		background-color: rgb(209, 53, 55) !important;
		border-style: none;
		color: #ffffff !important
	}

	#menu-top .menu-item a {
		color: #ffffff !important
	}

	.cart .product-name a {
		color: rgb(209, 53, 55)
	}

	.cart .product-subtotal .woocommerce-Price-amount {
		color: rgb(209, 53, 55)
	}

	.cart-collaterals .cart_totals h2 {
		color: rgb(209, 53, 55)
	}

	.cart_totals .wc-proceed-to-checkout a {
		background-color: rgb(209, 53, 55)
	}

	.cart tbody .remove-product {
		color: #000f19
	}

	.footer-main li .woocommerce-Price-amount {
		color: #ffffff !important
	}

	.products .img-effect img:hover {
		color: rgb(209, 53, 55);
		background-color: rgb(209, 53, 55)
	}

	.page-wrapper .page-top {
		border-style: none;
		margin-bottom: 0
	}

	.page-top div h1 {
		border-style: none
	}

	.products .product .add_to_cart_read_more {
		background-color: rgb(209, 53, 55) !important;
		border-style: none;
		color: #ffffff !important
	}

	.products .product .add_to_cart_button {
		background-color: rgb(209, 53, 55) !important;
		border-style: none;
		color: #ffffff !important
	}

	.shop-loop-after li span.page-numbers {
		border-color: rgb(209, 53, 55)
	}

	.wpcf7 p input[type=submit] {
		background-color: rgb(209, 53, 55);
		border-style: none
	}

	.wpcf7 p a {
		color: rgb(209, 53, 55)
	}

	.hentry .product .add_to_cart_button {
		color: #ffffff !important
	}

	#commentform a {
		color: rgb(209, 53, 55)
	}

	#submit {
		background-color: rgb(209, 53, 55)
	}

	#customer_details .woocommerce-additional-fields h3 {
		color: rgb(209, 53, 55)
	}

	#customer_details .woocommerce-billing-fields h3 {
		color: rgb(209, 53, 55)
	}

	#order_review_heading {
		color: rgb(209, 53, 55)
	}

	.woocommerce-checkout-review-order-table tbody .product-name {
		color: rgb(209, 53, 55)
	}

	#place_order {
		background-color: rgb(204, 34, 0);
		border-style: none
	}

	.footer-bottom .footer-right {
		color: #ffffff
	}

	.woocommerce .featured-box h2,
	.woocommerce-page .featured-box h2,
	.woocommerce .featured-box h3,
	.woocommerce-page .featured-box h3,
	.woocommerce .featured-box h4,
	.woocommerce-page .featured-box h4 {
		color: #d13537
	}

	a {
		color: #d13537
	}

	ul.cart_list li .product-details a:hover,
	ul.product_list_widget li .product-details a:hover {
		color: #d13537
	}

	.page-top.page-header-1 .page-title {
		border: none
	}

	.woocommerce-tabs .resp-tabs-list li.resp-tab-active,
	.woocommerce-tabs .resp-tabs-list li:hover {
		border-color: #d13537 !important
	}

	.footer-main li .align-icon {
		color: #ffffff
	}

	.footer-main li .Defaults-map-marker {
		color: #ffffff
	}

	.footer-main li .Defaults-phone {
		color: #ffffff
	}

	.footer-main li .Defaults-clock-o {
		color: #ffffff
	}

	.footer-main li .Defaults-envelope-o {
		color: #ffffff
	}

	ul.products li.product .product-loop-title:hover,
	ul.products li.product-category .product-loop-title:hover,
	ul.products li.product .product-loop-title:focus,
	ul.products li.product-category .product-loop-title:focus {
		color: #0088cc
	}

	.product_meta .posted_in a {
		color: #333332
	}

	#mini-cart .cart-head i {
		color: rgb(209, 53, 55)
	}

	.cart-head .cart-items span {
		color: #d13537
	}

	#main-menu .mega-menu>li.menu-item.active>a {
		background: #000 !important;
		color: #fff
	}

	#main-menu .mega-menu>li.menu-item>a {
		color: #ffffff !important
	}
}

div.woocommerce-variation-add-to-cart-disabled {
	display: none ! important;
}