.yith-wcbm-badge-21158 {
	top: auto;
	bottom: 0px;
	left: auto;
	right: 0px;
	opacity: 1;
}

.yith-wcbm-badge-21158 .yith-wcbm-badge__wrap {
	-ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.yith-wcbm-css-badge-21158 {
	color: #FFFFFF;
	font-family: "Open Sans", sans-serif;
	position: relative;
	box-sizing: border-box;
	position: absolute;
	width: auto;
	height: auto;
	background-color: transparent;
}

.yith-wcbm-css-badge-21158 div.yith-wcbm-css-s1 {
	width: 0;
	height: 0;
	border-top: 6px solid #841e1e;
	border-right: 5px solid transparent;
	border-left: 2px solid transparent;
	position: absolute;
	right: 1px;
	top: 30px;
}

.yith-wcbm-css-badge-21158 div.yith-wcbm-css-s2 {
	width: 13px;
	height: 26px;
	display: inline-block;
}

.yith-wcbm-css-badge-21158 div.yith-wcbm-css-text {
	background: #dd3333;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	height: 30px;
	white-space: nowrap;
	padding-right: 10px;
	padding-left: 8px;
	position: relative;
	top: -6px;
	right: 0;
	display: inline-block;
}

.yith-wcbm-css-badge-21158 div.yith-wcbm-css-text:before {
	content: '';
	width: 0;
	height: 0;
	border-right: 12px solid #dd3333;
	border-bottom: 15px solid transparent;
	position: absolute;
	top: 0;
	left: -12px;
}

.yith-wcbm-css-badge-21158 div.yith-wcbm-css-text:after {
	content: '';
	width: 0;
	height: 0;
	border-right: 12px solid #dd3333;
	border-top: 15px solid transparent;
	position: absolute;
	top: 15px;
	left: -12px;
}
